<%- include('headUser.ejs') %>
  <form id="recipeForm">
    <!-- No need to show any input fields here initially -->
    <!-- Instead, use the JavaScript function to ask for the recipe name -->
    <script>askForRecipeName();</script>
  </form>
<%- include('footUser.ejs') %>