<br><br>
<footer>
    <p>&copy; 2023 Creative. All rights reserved.</p>
</footer>
<script>
    function userAlert1(){
    alert("You are already Logged in! Log out to to login to another account! ");
}
function userAlert2(){
    alert("You are already Logged in! Log out to signup to a new account! ");
}
function disp1(){
    document.getElementById("drop1").classList.toggle("show");
}
function disp2(){
    document.getElementById("drop2").classList.toggle("show");
}
window.onclick = function(event) {
    var dropdowns1 = document.getElementsByClassName("con1");
    var dropdowns2 = document.getElementsByClassName("con2");
    if (!event.target.matches('.btn1') && !event.target.matches('.con2')) {
        var i;
        for (i = 0; i < dropdowns1.length; i++) {
            var openDropdown1 = dropdowns1[i];
            if (openDropdown1.classList.contains('show')) {
                openDropdown1.classList.remove('show');
            }
        }
    }
    if (!event.target.matches('.btn2') && !event.target.matches('.con1')) {
        var j;
        for (j = 0; j < dropdowns2.length; j++) {
            var openDropdown2 = dropdowns2[j];
            if (openDropdown2.classList.contains('show')) {
                openDropdown2.classList.remove('show');
            }
        }
    }
}
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } 
    else {
        x.className = "topnav";
    }
}
function prompt(){
    const recipeName = window.prompt("Please enter the recipe name:");
      if (recipeName !== null && recipeName.trim() !== "") {
        const pageTitle = recipeName.concat(userID);
        const rootURL = recipeName.replace(/\s+/g, "").concat("_",userID);
      } else {
        // If the user canceled or entered an empty name, do nothing
        alert("Recipe name cannot be empty!");
      }
}
</script>     
</body>     
</html>